@page "/ActiveTimeManagement"
<h3>ActiveTimeManagement</h3>

@using Backend;
@using System.Linq;

<EditForm Model="listOfUsers">
    <select 
    @onchange="listOfUsers.OnValueChanged">
        @foreach (string user in listOfUsers.users)
        {
            <option>@user</option>
        }
    </select>
    <br /><input @bind='listOfUsers.dayOfTheWeekAndTime["monday"]' />
    <br /><input @bind='listOfUsers.dayOfTheWeekAndTime["tuesday" ]'  />
    <br /><input @bind='listOfUsers.dayOfTheWeekAndTime["wednesday"] '  />
    <br /><input @bind='listOfUsers.dayOfTheWeekAndTime["thursday"]'  />
    <br /><input @bind='listOfUsers.dayOfTheWeekAndTime["friday"]'  />
    <br /><input @bind='listOfUsers.dayOfTheWeekAndTime["saturday"]'  />
    <br /><input @bind='listOfUsers.dayOfTheWeekAndTime["sunday"]'  />

    <br /><button class="btn btn-primary" @onclick="listOfUsers.CommitValues">Commit Values</button>


</EditForm>

@code {
    ListOfUsers listOfUsers = new ListOfUsers();

    class ListOfUsers
    {
        public Dictionary<string,int> dayOfTheWeekAndTime=new Dictionary<string, int>();
        private string currentUser;
        private ProcessSQL pSQL;
        //public int monday=0;
        //public int tuesday=0;
        //public int wednesday=0;
        //public int thursday=0;
        //public int friday=0;
        //public int saturday=0;
        //public int sunday=0;

        public List<string> users = new List<string>();
        public ListOfUsers()
        {
            pSQL = new ProcessSQL();
            users=pSQL.GetUsers();

            dayOfTheWeekAndTime.Add("monday",0);
            dayOfTheWeekAndTime.Add("tuesday",0);
            dayOfTheWeekAndTime.Add("wednesday",0);
            dayOfTheWeekAndTime.Add("thursday",0);
            dayOfTheWeekAndTime.Add("friday",0);
            dayOfTheWeekAndTime.Add("saturday",0);
            dayOfTheWeekAndTime.Add("sunday",0);

            //users.Add("alexa");
            //users.Add("Saray");
        }

        public Task OnValueChanged(ChangeEventArgs e)
        {
            currentUser = (string)e.Value;
            //users=pSQL.GetUsers();
            foreach (AppsPersist app in pSQL.ListActiveTime().Where(m => m._userName == currentUser))
            {
                dayOfTheWeekAndTime[app._dayOfTheWeek.ToLower()] = app._time;
            }



            //monday = (pSQL.ListActiveTime().Where(m => m._userName == (string)e.Value && m._dayOfTheWeek.ToLower() == "monday").Select(m=> m._time).First()) ? 0;
            //tuesday = pSQL.ListActiveTime().Where(m => m._userName == (string)e.Value && m._dayOfTheWeek.ToLower() == "tuesday").Select(m=> m._time).First() ?? 0;
            //wednesday = pSQL.ListActiveTime().Where(m => m._userName == (string)e.Value && m._dayOfTheWeek.ToLower() == "wednesday").Select(m=> m._time).First();
            //thursday = pSQL.ListActiveTime().Where(m => m._userName == (string)e.Value && m._dayOfTheWeek.ToLower() == "thursday").Select(m=> m._time).First();
            //friday = pSQL.ListActiveTime().Where(m => m._userName == (string)e.Value && m._dayOfTheWeek.ToLower() == "friday").Select(m=> m._time).First();
            //saturday = pSQL.ListActiveTime().Where(m => m._userName == (string)e.Value && m._dayOfTheWeek.ToLower() == "saturday").Select(m=> m._time).First();
            //sunday = pSQL.ListActiveTime().Where(m => m._userName == (string)e.Value && m._dayOfTheWeek.ToLower() == "sunday").Select(m=> m._time).First();

            return Task.CompletedTask;

        }
        public void CommitValues()
        {
            int secondsToday=pSQL.GetUserConsumedSeconds(currentUser);
            foreach (string d in dayOfTheWeekAndTime.Keys)
            {
                pSQL.RemoveActiveTime(currentUser, d);
                pSQL.AddActiveTime(currentUser, dayOfTheWeekAndTime[d], d);
            }
            pSQL.SetUserConsumedSeconds(currentUser, secondsToday);
        }


    }



}