bin
obj
/.vs/ProjectEvaluation/timecontrol.projects.v7.bin
/.vs/TimeControl/DesignTimeBuild/.dtbcache.v2
/.vs/TimeControl/FileContentIndex
/.vs/TimeControl/v17/.futdcache.v2
/.vs/TimeControl/v17/.suo
/.vs/TimeControl/v17/.wsuo
/.vs/ProjectEvaluation/timecontrol.metadata.v7.bin
