Common/obj/Debug/netcoreapp3.0/Common.csprojAssemblyReference.cache
BlazorServer/Pages/ListApps.razor
BlazorServer/bin/Debug/netcoreapp3.1/BlazorServer.dll
BlazorServer/bin/Debug/netcoreapp3.1/BlazorServer.pdb
BlazorServer/bin/Debug/netcoreapp3.1/BlazorServer.Views.dll
BlazorServer/bin/Debug/netcoreapp3.1/BlazorServer.Views.pdb
BlazorServer/obj/Debug/netcoreapp3.1/BlazorServer.assets.cache
BlazorServer/obj/Debug/netcoreapp3.1/BlazorServer.csprojAssemblyReference.cache
BlazorServer/obj/Debug/netcoreapp3.1/BlazorServer.dll
BlazorServer/obj/Debug/netcoreapp3.1/BlazorServer.pdb
BlazorServer/obj/Debug/netcoreapp3.1/BlazorServer.Views.dll
BlazorServer/obj/Debug/netcoreapp3.1/BlazorServer.Views.pdb
BlazorServer/obj/Debug/netcoreapp3.1/RazorDeclaration/BlazorServer.dll
BlazorServer/obj/Debug/netcoreapp3.1/RazorDeclaration/BlazorServer.pdb
BlazorServer/bin/Debug/netcoreapp3.1/BlazorServer.Views.dll
BlazorServer/bin/Debug/netcoreapp3.1/BlazorServer.Views.pdb
